{{#section 'head'}}
    <meta name="robots" content="noindex">
{{/section}}

<h1>Page Test</h1>
<p>we're testing some jquery stuff</p>

{{> weather}}

{{#section 'jquery'}}
    <script>
        $('document').ready(function() {
            $('h1').html('jQuery Works');
        });
    </script>
{{/section}}